body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgba(240, 232, 232, 0.781);
}

/* Default styles for your website */
h1 {
    color: #0a0058a5;
    text-align: center;
    font-stretch: expanded;
}

.Container {
    display: flex;
    z-index: 1;
    position: relative;
}

.Ribbon {
    background-image: url('images/flower2.png');
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 1450px 400px;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    pointer-events: none;
    z-index: 2;
}

.SideBar {
    background-color: #8ca3b8b9;
    width: 225px;
    min-height: 100vh;
    padding: 20px;
    padding-top: 200px;
    z-index: 1;
    position: fixed;
}

.sbTitle {
    color: #161962b8;
    margin-top: 15px;
    margin-left: 5px;
    text-align: left;
    text-decoration: underline;
}

.sbOption:hover {
    background-color: #6c69ff;
}

.sbOption {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #161962b8;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 210px;
    height: 30px;
    line-height: 30px;
}

.MainContent {
    margin-top: 50px;
    margin-left: 350px;
    margin-bottom: 100px;
}

h3 {
    color: #030627a5;
    text-align: center;
    text-decoration: underline;
    font-family: 'georgia';
    font-size: 45px;
    padding-top: 50px;
}

.PhotoParagraph {
    display: flex;
}

.polaroid {
    background-color: white;
    width: 280px;
    height: 320px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    transform: rotate(10deg);
}

.polaroidIMG {
    object-fit: contain;
    width: 250px;
    height: 250px;
    margin-top: 10px;
}

.Note {
    font-family: Marker Felt;
    font-stretch: expanded;
    color: #01021cd3;
}

.blurb {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-family: 'Verdana';
    font-stretch: expanded;
    color: #01021cd3;
    line-height: 1.5;
    text-align: left;
    width: 600px;
    margin-left: 30px;
}

.h4 {
    color: #01021cd3;
}

.WorkingPage {
    display: flex;
    z-index: 1;
    position: relative;
}

.workExBubble {
    padding: 20px;
    border: 2px solid transparent;
    border-bottom-color: rgb(107, 107, 117);
}

.list {
    text-align: left;
    font-family: 'Verdana';
    font-stretch: expanded;
    margin-left: 30px;
    color: #01021cd3;
    width: 600px;
}

.download-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: #1f856cb8;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.34);
    transition: background-color 0.3s ease;
    width: 200px;
    height: 50px;
    line-height: 30px;
    position: fixed;
    z-index: 2;
    margin-left: 700px;
}

.download-button:hover {
    background-color: #d450a9;
    border-color: #d450a9;
    transform: scale(1.05);
}

/* Styles for larger screens (e.g., desktop) */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }

    .MainContent {
        margin-left: 350px;
    }

    .download-button {
        margin-left: 700px;
    }
}

/* Styles for smaller screens (e.g., iPhone) */
@media (max-width: 428px) {
    body {
        font-size: 12px;
    }
    .blurb{
        font-size: 8px;
    }

    .MainContent {
        margin-top: 27px;
        margin-left: 195px;
        margin-right: 20px;
        
    }

    .download-button {
        display: none;
    }
}
