body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgba(240, 232, 232, 0.781);
}

h1 {
    color: #0a0058a5;
    text-align: center;
    font-stretch: expanded;

}

.Container {
    display: flex;
    z-index: 1;
    position: relative;
}

.Ribbon {
    background-image: url('images/flower2.png'); /* Set background image */
    width: 100%; /* Set width */
    height: 400px; /* Set height */
    background-repeat: no-repeat;
    background-size: 1450px 400px; /* Cover the entire container */
    background-position: center; /* Center the background image */
    color: #ffffff; /* Text color */
    text-align: center; /* Center-align text */
    padding: 20px; /* Add padding */
    box-sizing: border-box;
    position:fixed;
    pointer-events: none;
    z-index: 2;
}

.SideBar {
    background-color: #8ca3b8b9;
    width: 225px;
    min-height: 100vh;
    padding: 20px;
    padding-top: 200px;
    z-index: 1;
    position: fixed;
}

.sbTitle {
    color: #161962b8;
    margin-top: 15px;
    margin-left: 5px;
    text-align: left; 
    text-decoration: underline;
    
}


.sbOption:hover {
    background-color: #6c69ff; /* Darker pink on hover */
}

.sbOption {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 10px; /* Rounded corners */
    background-color: #161962b8; /* Cute pink background */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
    transition: background-color 0.3s ease; 
    margin-top: 20px;
    width: 210px; /* Set width */
    height: 30px; /* Set height */
    line-height: 30px;

}

.MainContent{
    margin-top: 50px;
    margin-left: 350px;
    margin-bottom: 100px;
    
    
}



h3 {
    color: #030627a5;
    text-align: center; /* Center the text */
    text-decoration: underline;
    font-family: 'georgia';
    font-size: 45px;
    padding-top: 50px;
    /* padding-right: 350px;
    padding-top: 40px;
    margin-bottom: 0px; */


    
}

.PhotoParagraph{
    display:flex;
   
}
.polaroid{
    background-color: white;
    width: 280px;
    height: 320px;
    box-shadow:0px 4px 6px rgba(0, 0, 0, 0.1); 
    margin-left: 20px;
    transform: rotate(10deg)

}

.polaroidIMG{
    object-fit: contain;
    width: 250px; /* Set desired width */
    height: 250px;
    margin-top: 10px


}
.Note{
    font-family: Marker Felt;
    font-stretch: expanded;
    color: #01021cd3;
    

}
.blurb{
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-family: 'Verdana';
    font-stretch: expanded;
    color: #01021cd3;
    line-height: 1.5;
    text-align: left;
    width: 600px;
    margin-left: 30px;
    

}

.h4{
    color: #01021cd3;
}
.WorkingPage{
    display: flex;
    z-index: 1;
    position: relative;

}
.workExBubble{
    padding: 20px;
    border: 2px solid transparent; /* Transparent border on all sides */
    border-bottom-color: rgb(107, 107, 117);
 
}
.list{
    text-align: left;
    font-family: 'Verdana';
    font-stretch: expanded;
    margin-left: 30px;
    color: #01021cd3;
    width: 600px;
}

.download-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px; /* Rounded corners */
    background-color: #1f856cb8; /* Cute pink background */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.34); /* Soft shadow */
    transition: background-color 0.3s ease; 
    width: 200px; /* Set width */
    height: 50px; /* Set height */
    line-height: 30px;
    position:fixed;
    z-index: 2;
    margin-left: 700px;
}

.download-button:hover {
    background-color: #d450a9; /* Darker pink background on hover */
    border-color: #d450a9; /* Darker pink border on hover */
    transform: scale(1.05); /* Slight zoom effect on hover */
}