body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgba(240, 232, 232, 0.781);
}

/* Default styles for your website */
h1 {
    font-size: 3vw;
    color: #0a0058a5;
    text-align: left;
    font-stretch: expanded;
}

.Container {
    display: flex;
    z-index: 1;
    position: relative;
}

.Ribbon {
    background-image: url('images/flower2.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding-top: 20%;
    position: fixed;
    pointer-events: none;
    z-index: 2;
}

.SideBar {
    background-color: #8ca3b8b9;
    width: 20vw; /* Using viewport width */
    min-height: 100vh;
    padding: 2vw; /* Using viewport width */
    padding-top: 20vh; /* Using viewport height */
    z-index: 1;
    position: fixed;
    width: 0;
}

.sbTitle {
    color: #161962b8;
    margin-top: 1vh; /* Using viewport height */
    margin-left: 0.5vw; /* Using viewport width */
    font-size: 1.5vw; /* Using viewport width */
    text-align: left;
    text-decoration: underline;
}

.sbOption:hover {
    background-color: #6c69ff;
}

.sbOption {
    display: none;
    font-size: 1.2vw; /* Using viewport width */
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 1vw;
    background-color: #161962b8;
    box-shadow: 0.2vw 0.4vw 0.6vw rgba(0, 0, 0, 0.1); /* Using viewport width */
    transition: background-color 0.3s ease;
    margin-top: 2vh; /* Using viewport height */
    width: 20vw; /* Set to a fixed width for oval shape */
    height: 2vw; /* Set to a fixed height for oval shape */
    line-height: 2vw; /* Set to the same as height for vertical centering */
}

.MainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
    width: 100vw; 
}

h3 {
    color: #030627a5;
    text-align: center;
    text-decoration: underline;
    font-family: 'georgia';
    font-size: 3vw; /* Using viewport width */
    padding-top: 1vh; /* Using viewport height */
}

.PhotoParagraph {
    display: flex;
    align-items: center;
    padding: 10px;
}

.polaroid {
    background-color: white;
    width: 18vw; /* Using viewport width */
    height: calc(16vw + 6vw); /* Using viewport height */
    box-shadow: 0.2vw 0.4vw 0.6vw rgba(0, 0, 0, 0.1); /* Using viewport width */
    margin-left: 1.5vw; /* Using viewport width */
    transform: rotate(10deg);
    position: relative;
    
}

.polaroidIMG {
    object-fit: contain;
    width: 16vw; /* Using viewport width */
    height: 16vw; /* Using viewport width */
    margin-top: 1vh; /* Using viewport height */
}

.Note {
    object-fit: contain;
    font-size: 1.2vw;
    font-family: Marker Felt;
    font-stretch: expanded;
    color: #01021cd3;
}

.blurb {
    font-family: 'Verdana';
    font-size: 1.5vw;
    font-family: 'Verdana';
    font-stretch: expanded;
    color: #01021cd3;
    line-height: 1.5;
    text-align: left;
    margin-left: 1.5vw; /* Using viewport width */
    width: 50vw; /* Using viewport width */
    padding: 10px;
    }

h4 {
    font-size: 1.7vw;
    color: #01021cd3;
}

.WorkingPage {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Working_Bubbles {
    width: 70vw;/* Using viewport width */

}
.workExBubble {
    padding: 2vw; /* Using viewport width */
    border: 0.2vw solid transparent; /* Using viewport width */
    border-bottom-color: rgb(107, 107, 117);
}

.list {
    text-align: left;
    font-family: 'Verdana';
    font-stretch: expanded;
    margin-left: 1.5vw; /* Using viewport width */
    color: #01021cd3;
    width: 80vw; /* Using viewport width */
}

li{
    font-size: 1.4vw;
    width: 70vw;
}

.download-button {
    display: inline-block;
    font-size: 1vw;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2vw; 
    background-color: #1f856cb8;
    box-shadow: 0.2vw 0.4vw 0.6vw rgba(0, 0, 0, 0.34); 
    transition: background-color 0.3s ease;
    width: 17vw; 
    height: 5vw;
    align-self: flex-start;
    justify-content: flex-start;
    margin-left: -7vw;
    align-content: center;
}

.download-button:hover {
    background-color: #d450a9;
    border-color: #d450a9;
    transform: scale(1.05);
}

.description {
    font-size: 1.3vw;
    font-family: 'Verdana';
    font-stretch: expanded;
    color: #01021cd3;
    line-height: 1.5;
    text-align: left;
    justify-content: center;
    margin-left: 1.5vw; /* Using viewport width */
    width: 70vw; /* Using viewport width */
    padding: 10px;
    }

.toggleBtn {
    display: inline-block;
    font-size: 1vw; /* Using viewport width */
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5vw;
    background-color: #161962b8;
    box-shadow: 0.2vw 0.4vw 0.6vw rgba(0, 0, 0, 0.1); /* Using viewport width */
    transition: background-color 0.3s ease;
    width: 5vw; 
    height: 3vw; 
    line-height: 1vw; 
    padding: 0px;

    }
    
.toggleBtn:hover {
    background-color: #69a1bbbb;  /* Darker shade for hover effect */
    }
/* Styles for smaller screens (e.g., iPhone) */
@media (max-width: 800px) {
   
    
    .MainContent {
        margin-top: 2vh;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .blurb{
    font-size: 2vw;
    width: 60vw; 
  
    }
    .polaroidIMG {
        margin-top: .5vh; /* Using viewport height */
    }
    .download-button{
        font-size: 1.5vw;
        width: 18vw;
    }
    
    .description{
        font-size: 2.2vw;
    }
    h1{
        font: 3.2vw;
    }
    h4 {
        font-size: 2.2vw;
    }

    li {
        font-size: 2vw;
    }
 
    .SideBar {
        padding-top: 10vh;
    }

    .main-content {
        margin-left: 0;
    }
    .WorkingPage {
        margin-left: -5vw;
    }
    
}
